/* CSS HEX:
desert-sand: #ecc8afff;
melon: #e7ad99ff;
new-york-pink: #ce796bff;
persian-orange: #c18c5dff;
black-coral: #495867ff;
*/

/* CSS HSL: 
desert-sand: hsla(25, 62%, 81%, 1);
melon: hsla(15, 62%, 75%, 1);
new-york-pink: hsla(8, 50%, 61%, 1);
persian-orange: hsla(28, 45%, 56%, 1);
black-coral: hsla(210, 17%, 35%, 1);
*/