/*! themes/_main.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Main theme variables and styles (Main theme is used in "Startup Kit", in "Landing kit v1" and in all components pages)
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Theme color variables
1. Theme gradient
2. Pageloader
3. Theme specific Hero
=============================================================================
***/

/* ==========================================================================
0. Theme color variables
========================================================================== */
$primary: #CE796B; // New York Pink
$secondary: #C18C5D; // Persian Orange
$accent: #495867; // Black Coral

$secondary-muted: #f9f4f0;

$desert-sand: #ecc8afff;
$desert-sand-muted: #f6e4d8;

$melon: #e7ad99ff;
// $new-york-pink: #ce796bff;
// $persian-orange: #c18c5dff;
// $black-coral: #495867ff;

/* ==========================================================================
1. Theme gradient
========================================================================== */
$webkit-hero-prime-gradient: linear-gradient(to right, $primary, darken($primary, 12%));
$hero-prime-gradient: linear-gradient(to top, $primary, darken($primary, 12%));

$webkit-hero-gradient: linear-gradient(to right, $secondary, $accent);
$hero-gradient: linear-gradient(to top, $secondary, $accent);

/* ==========================================================================
2. Pageloader
========================================================================== */
.pageloader {
    background-color: $primary !important;
}

/* ==========================================================================
3. Theme specific Hero
========================================================================== */
.hero, .section {
    &.is-theme-primary {
        background-color: $primary;

        .title {
            color: $white;
        }

        .subtitle {
            color: $white;
        }
    }

    &.is-theme-secondary {
        background-color: $secondary;

        .title {
            color: $white;
        }

        .subtitle {
            color: $white;
        }
    }

    &.is-theme-desert-sand {
        background-color: $desert-sand;

        .title {
            color: $accent;
        }

        .subtitle {
            color: $accent;
        }
    }

    &.is-theme-desert-sand-muted {
        background-color: $desert-sand-muted;

        .title {
            color: $grey-3;
        }

        .subtitle {
            color: $grey-3;
        }
    }
    
    &.is-theme-secondary-muted {
        background-color: $secondary-muted;

        .title {
            color: $grey-3;
        }

        .subtitle {
            color: $grey-3;
        }
    }
}
.section-underlay {
    margin-top: -2vh; // closing the gap between the top polygon and the following section
}
link {
    color: $secondary;
}
