<!-- Dark footer -->
<footer id="dark-footer" class="footer footer-dark">
    <div class="container">
        <div class="columns footer-body">
            <!-- Column -->
            <div class="column is-4">
                <div class="pt-10 pb-10">
                    <a href="index.html"><img class="small-footer-logo" src="assets/img/logos/olwp_logo.png" alt="OLWP logo"></a>
                    <div class="footer-description">
                        One Less Worry, Period is committed to providing all birthing people with love, dignity, and respect during this transformative time in their lives.
                    </div>
                </div>
                <div>
                    <span class="moto">
                        Made with <i class="fa fa-heart color-red"></i><br>Developed by <a href="https:www.thinkhalcyon.com" target="_blank" rel="noopener">Think Halcyon</a> | Logo by <a href="https://www.iheartnella.com/portfolio" target="_blank" rel="noopener noreferrer">Chenelle Massey</a> | Photography by Laura Vladimirova 
                    </span>
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-2">
                <div class="columns">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                ABOUT
                            </li>
                            <li class="column-item"><a href="index.html">Home</a></li>
                            <li class="column-item"><a href="about.html">About</a></li>
                            <li class="column-item"><a href="contact.html">Contact Me</a></li>
                            <!-- <li class="column-item"><a href="testimonials.html">Testimonials</a></li> -->
                            <!-- Social Media -->
                            <li class="column-item">
                                <div class="social-links">
                                    <a href="https://www.instagram.com/olwpdoula/">
                                        <span class="icon"><i class="fa fa-instagram"></i></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                RESOURCES
                            </li>
                            <li class="column-item"><a href="black-maternity.html">Black Maternity</a></li>
                            <li class="column-item"><a href="resources.html">Resources</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                LEGAL
                            </li>
                            <li class="column-item"><a href="terms.html">Terms of Use</a></li>
                            <li class="column-item"><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright has-text-centered">
            <p>&copy; 2021 One Less Worry, Period. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<!-- /Dark footer -->