<nav class="navbar navbar-landing is-transparent nav-dark is-fixed-top is-faded">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="light-logo" src="assets/img/logos/olwp_logo.png" width="28" height="28" alt="OLWP logo">
                <img class="dark-logo switcher-logo-square is-hidden" src="assets/img/logos/olwp_logo.png" width="28" height="28" alt="OLWP logo">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="about.html" class="navbar-item has-hover scroll-link">
                    About
                </a>

                <a href="services.html" class="navbar-item has-hover scroll-link">
                    Services
                </a>

                <a href="black-maternity.html" class="navbar-item has-hover scroll-link">
                    Black Maternity
                </a>

                <a href="resources.html" class="navbar-item has-hover scroll-link">
                    Resources
                </a>
            </div>

            <div class="navbar-end has-hover">
                <div class="navbar-item">
                    <a href="contact.html" class="button button-signup is-bold  primary-btn">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</nav>